.grid-flex
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin: 1.5rem 2rem;
}
.list-table
{
    width: 100%;
  
    margin-inline:auto;
}

@media only screen and (max-width: 1000px) {
    .css-13xfq8m-MuiTabPanel-root
    {
       padding-inline: 2px !important; 
       width: 100% !important ;
    }
    .list-table
    {
        width: 100%;
    }
}